body {
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
  }
  
  #cart-items {
    display: grid;
    grid-template-columns: repeat(4, 3fr);
    grid-gap: 20px;
    max-width: 100%;
    margin: 0 auto;
  }
  
  .cart-item {
    border: 1px solid #0d5c0b;
    padding: 15px;
    color: #0d5c0b;;
  }
  
  .cart-item img {
    max-width: 100%;
    height: auto;
  }
  
  #total-price-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    max-width: 800px;
    font-size: 20px;
    margin: 20px 0 0 200px;
  }
  
  #total-price-container label {
    margin-right: 10px;
  }
  #total-price{
    background-color: aliceblue;
    height: 60px;
    font-size: 19px;

  }
  
  button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #F37254;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  

/* Responsive Styles */
@media (max-width: 799px) {
    .tprice {
        width: auto;
        margin-left: 10px;
        margin-right: 10px;
    }

    .cart-item {
        flex: 0 0 100%;
    }

    .cart-item img {
        width: 100%;
        height: auto;
    }
}
